<%- include('header'); -%>

<body>
  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
    <h2> Things to do:</h2>
  </div>

  <div class="box">
    <% newtask.forEach(function(task){%>
    <form class="item delete" action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="deletion" value="<%= task._id %>" onchange="this.form.submit()">
      <p> <%=task.task%> </p>
    </div>
    <input type="hidden" name="customDel" value="<%= listTitle %>">
    </form>
    <% }); %>

    <form class="item new" action="/" method="post">
      <input type="text" name="nexttask" autocomplete="off" placeholder="new task">
      <button class="addtask" type="submit" name="button" value=<%= listTitle %>> + </button>
    </form>
    <form class="" action="/empty" method="post">
      <!-- <input type="hidden" name="empty" value=""> -->
      <button class="reset" type="submit" name="emptying" value=<%=listTitle %>> Reset </button>
    </form>

  </div>
</body>
<%- include('footer'); -%>

</html>
